{% extends "templates/base.html" %}
{% block content %}
<div class="container">

  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1 style="color:#3BB9FF;">
				About us
			</h1>
		</div>

		</div>
	</div>

  <!-- /. PAGE TITLE-->
  	<div class="row">
	  <div class="span12">
	  <h2 style="color:#3BB9FF;">Welcome to Quantum</h2>

	
			<img class="pull-left" alt="" src="img/img2.jpg" style="width:500px;height:333px;"/>

			<p>Marketing in today's age is as exciting as ever! With an increasing number of people online rising to 30billion...
		  	(almost half of the world's population) businesses have taken their functions online to adjust to the ever changing consumer needs. </p>

		  <br/>

		  <p>Marketing in today's age is as exciting as ever! With an increasing number of people online rising to 30billion...
		  	(almost half of the world's population) businesses have taken their functions online to adjust to the ever changing consumer needs. </p>

		  <br/>

		  <p>Marketing in today's age is as exciting as ever! With an increasing number of people online rising to 30billion...
		  	(almost half of the world's population) businesses have taken their functions online to adjust to the ever changing consumer needs. </p>

		  		  <br/>

		  <p>Marketing in today's age is as exciting as ever! With an increasing number of people online rising to 30billion...
		  	(almost half of the world's population) businesses have taken their functions online to adjust to the ever changing consumer needs. </p>
	
		

	  </div>
	 </div>

	 <div class="hr-divider"></div>

	<div class="row">
		<div class="span12">

		<h2 style="color:#3BB9FF;">Our Team</h2>
			<ul class="thumbnails">
				<li class="span4">
					<div class="thumbnail">
						<img alt="" src="img/team1.jpg" />
						<div class="caption">
							<strong style="color:#3BB9FF;">CHANTAL OPENDA</strong>
							<small>FOUNDER QUANTAM</small>
							<p>
								Are you introducing a new product/service? In need for online presence?  Starting up a business but you don't know how to reach your customers?
							</p>
							<p>

							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="img/team2.jpg" />
						<div class="caption">
							<strong style="color:#3BB9FF;">CHANTAL OPENDA</strong> /
							FOUNDER QUANTAM
							<p>
								Are you introducing a new product/service? In need for online presence?  Starting up a business but you don't know how to reach your customers?
							</p>
							<p>
								
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="img/team3.jpg" />
						<div class="caption">
							<strong style="color:#3BB9FF;">CHANTAL OPENDA</strong> /
							FOUNDER QUANTAM
							<p>
								Are you introducing a new product/service? In need for online presence?  Starting up a business but you don't know how to reach your customers?
							</p>
							<p>
								
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>
{% endblock content %}
