{% extends "templates/base.html" %}
{% block content %}

<div class="container">
	  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header" >
				<h1>
				Contact
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->

  <div class="row">

  	<div class="span12"> 
  		<div id="map-canvas"></div>
  	</div>

  		<span class="span6">
  			<form>
				<fieldset>
					 <h3>Get in Touch</h3>
					 
					 <input class="input-xxlarge" type="text" placeholder="Name" /> 
					 <input class="input-xxlarge" type="text" type="email" placeholder="Email" required/> 

					 <textarea  class="input-xxlarge"  rows="10"  placeholder="Your Message"></textarea>
						<br>
					 <button type="submit" class="btn">Submit</button>
				</fieldset>
			</form>
  		</span>


  		<span class="span6">



  			<h3>Address</h3>
  			<address>
				  <strong>Quantam, marketing.</strong><br>
				  UAP Towers, Suite 80<br>
				  Nairobi, +254<br>
				  <abbr title="Phone">P:</abbr> +254701424228
				</address>

				<address>
				  <strong>Chantal Openda</strong><br>
				  <a href="mailto:#">chantal@quantammarketing.com</a>
				</address>

  			<p>
				Social Media advertising: cross platform targeted marketing. Trends.
				Online advertising : Ad words, ad sense  SEO.
				Consulting:
  			</p>
  		</span>

  </div>

	
</div>

{% endblock content %}