
{% extends "templates/base.html" %}
{% block content %}
  


  <div class="container">

  <!--Carousel
  ==================================================-->

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="active item">
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1 style="color:#3BB9FF; font-weight: 900;">your business partner</h1>
                      <p class="lead">
                          Marketing in today's age is as exciting as ever! With an increasing number of people
                          online rising to 30billion...(almost half of the world's population) businesses have taken
                          their functions online to adjust to the ever changing consumer needs.
                      </p>
                      <a class="btn btn-large btn-default" href="#">Join us today</a>
                </div>

              </div>

                <div class="span6"> <img src="img/slide/slide1.jpg"></div>

          </div>
        </div>
       



      </div>

      <div class="item">
       
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1 style="color:#3BB9FF; font-weight: 900;">Growing your business with a smile</h1>
                      <p class="lead">
                      Quantum marketing is a data driven organization, keeping track of consumer trends,  buyer hot
                          spots  buying trends, in Africa. Experts at both digital and traditional marketing we work
                          with businesses to deliver customers right to their door steps.
                      </p>
                      <a class="btn btn-large btn-primary" href="#">Join us today</a>
                </div>

              </div>

                <div class="span6"> <img src="img/slide/slide1.jpg"></div>

          </div>
        </div>

      </div>





    </div>
       <!-- Carousel nav -->
      <a class="carousel-control left " href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        <!-- /.Carousel nav -->

  </div>
    <!-- /Carousel -->



<!-- Feature 
  ==============================================-->


  <div class="row feature-box">
      <div class="span12 cnt-title">
       <h1 style="color:#3BB9FF;">bringing customers to your door</h1>
        <span>bringing customers to your door</span>
      </div>

      <div class="span4">
        <img src="img/icon3.png" style="width:200px;height:150px;">
        <h2 style="color:#3BB9FF;">Partner</h2>
        <p>
            your business partner your business partner your business partner your business partner your business partner your business partner
        </p>

        <a href="#">Read More &rarr;</a>

      </div>

      <div class="span4">
        <img src="img/icon2.png" style="width:200px;height:150px;">
        <h2 style="color:#3BB9FF;">Happy client</h2>
        <p>
            growing your business with a smile growing your business with a smile growing your business with a smile growing your business with a smile
        </p>   
          <a href="#">Read More &rarr;</a>    
      </div>

      <div class="span4">
        <img src="img/icon1.png" style="width:200px;height:150px;">
        <h2 style="color:#3BB9FF;">Personalized marketing</h2>
        <p>
            personalized marketing personalized marketing personalized marketing personalized marketing personalized marketing
        </p>
          <a href="#">Read More &rarr;</a>
      </div>
  </div>


<!-- /.Feature -->

  <div class="hr-divider"></div>

<!-- Row View -->


    <div class="row">
        <div class="span6"><img src="img/responsive.png"></div>

        <div class="span6">
          <img class="hidden-phone" src="img/logo.png" alt="">
          <h1 style="color:#3BB9FF;">Quantum marketing </h1>
            <p>Quantum marketing is a data driven organization, keeping track of consumer trends,  buyer hot spots
                buying trends, in Africa. Experts at both digital and traditional marketing we work with businesses to deliver customers right to their door steps. </p>
             <a href="#">Read More &rarr;</a>
        </div>
    </div>

    
</div>


<!-- /.Row View -->


    {% endblock %}



