{% extends "templates/base.html" %}
{% block content %}

<div class="container">
	  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1 style="color:#3BB9FF;">
				Services
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->

	<div class="row">
		<div class="span6">
		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service1.png" style="width:200px;height:150px;" class="media-object" alt='Social Media advertising' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Social Media advertising
					</h4> 
					<p>Social network advertising, also social media targeting is a group of terms that are used to
						describe forms of online advertising that focus on social networking services.
					</p>
					<a href="#">Read More &rarr;</a>


				</div>
			</div>
		</div>			


		<div class="span6">

		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service2.png" style="width:200px;height:150px;" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						cross platform targeted marketing
					</h4> 
					<p>is a form of cross-promotion in which promotional companies commit to surpassing traditional
						advertisement techniques and decide to include extra appeals to the products they offer.
						The material can be communicated by any mass media such as e-mails, letters, web pages, or other recruiting sources.
					</p>
					<a href="#">Read More &rarr;</a>
				</div>
			</div>
		</div>

		<div class="span6">
		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service3.png" style="width:200px;height:150px;" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Trends
					</h4> 
					<p>
					Current local and cross boarder marketing trends Current local and cross boarder marketing trends  Current local and cross boarder marketing trends
						Current local and cross boarder marketing trends Current local and cross boarder marketing trends Current local and cross boarder marketing trends
					</p>
					<a href="#">Read More &rarr;</a>
				</div>
			</div>
		</div>


		
		<div class="span6">
		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service4.png" style="width:200px;height:150px;" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Online advertising
					</h4> 
					<p>
					is a marketing strategy that involves the use of the Internet as a medium to obtain website traffic
					and target and deliver marketing messages to the right customers. Online advertising is geared
					toward defining markets through unique and useful applications.
					</p>
					<a href="#">Read More &rarr;</a>
				</div>
			</div>


		</div>		

		<div class="span6">
		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service5.png" style="width:200px;height:150px;" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">Ad words, ad sense  SEO
					</h4> 
					<p>
					 enables you to create advertisements which will appear on relevant Google search results pages and our network of partner sites
						enables you to create advertisements which will appear on relevant Google search results pages and our network of partner sites
					</p>
					<a href="#">Read More &rarr;</a>
				</div>
			</div>


		</div>		

		<div class="span6">
		<div class="media">
				 <a href="#" class="pull-left"><img src="img/icon-service6.png" style="width:200px;height:150px;" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Consulting
					</h4> 
					<p>
					professional marketing advice professional marketing advice professional marketing advice professional marketing advice
						professional marketing advice professional marketing advice professional marketing advice professional marketing advice
					</p>
					<a href="#">Read More &rarr;</a>
				</div>
			</div>


		</div>

	</div>
</div>
{% endblock content %}